.DataDisplay {
  /* max-width: 700px; */
  /* margin: 30px; */
  width: 100%;
}
table {
  font-size: 14px;
  border-spacing: 0;
}
th {
  color: #aaa;
  font-weight: 500;
}
td,
th {
  text-align: left;
  padding: 0 14px;
  border: 0;
}
td {
  height: 54px;
}
tr:nth-child(even) {
  background: #f6f6f6;
}

span.red {
  color: red;
}
span.under {
  display: block;
  font-size: 11px;
}
.cancelled {
  color: #aaa;
}
span.cancelled {
  color: red;
  display: block;
  font-size: 12px;
}
